<% include partials/header %>

<h1>Create a new campground</h1>

<form method="POST" action="/campgrounds">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="Image">
    <button>Submit</button>
</form>

<a href="/campgrounds">Go Back</a>

<% include partials/footer %>